//Fonts

$font-roboto: "Roboto", sans-serif;

//Colors

$color-primary: white;
$color-secondary: DarkGreen;
$color-letters: black;
$color-hover: DarkSeaGreen;
$color-shadow: rgba(0, 0, 0, 0.22);
$color-shadow-form: rgba(0, 0, 0, 0.22);
$color-background: #f9f7f7;
