.footer{
    background-color: $color-secondary;
    color: $color-primary;
    width: 100%;
    padding: 8px 0 8px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    &__text{
        font-family: $font-roboto;
        font-size: 14px;
        &--capitalize {
            text-transform: capitalize;
        }
    }
}