.characters {
  display: flex;
  flex-direction: column;
  min-width: 70vw;
  flex-wrap: wrap;

  &__title {
    text-align: center;
    color: $color-secondary;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
  }

  &__ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
  }
}

.characters__article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 320px;
  box-shadow: 12px 17px 51px $color-shadow;
  border: 2px solid $color-secondary;
  border-radius: 8%;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }

  &--img {
    width: 150px;
    height: 200px;
    border-radius: 8%;
    object-fit: cover;
  }

  &--name {
    color: $color-letters;
    font-weight: 700;
  }

  &--status {
    color: $color-letters;
  }
}

.selected {
  background-color: $color-hover;
}
