.favourites {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    flex-wrap: wrap;
    
    &__title{
        text-align: center;
        color: $color-secondary;
        font-weight: 700;
        font-size: 20px;
    };

    &__ul{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: flex-start;
    };

    &__form{
        text-align: center;
        justify-content: center;

        &--btn{
            font-family: $font-roboto;
            font-weight: 700;
            color: $color-primary;
            background-color: $color-secondary;
            box-shadow: 3px 10px 5px $color-shadow;
            padding: 5px 10px 5px 10px;
            border: none;
            cursor:pointer;
            &:hover {
                background-color: $color-hover;
                color: $color-letters;
                border: 2px solid $color-secondary;
            }
        };

    }

.characters__favourites {
    padding: 20px;
    margin: 10px;
    box-shadow: 3px 10px 5px $color-shadow;
    cursor:pointer;

    &--img{
        width: 200px;
        height: 300px;
        object-fit: cover;
        };
    &--name{
        color: $color-letters;
        font-weight: 700;
        padding: 10px 0 15px 0;
        };
    &--status{
        color: $color-letters;
        };
    };
}

.hidden {
    display: none;
}
    