.characters {
  display: flex;
  flex-direction: column;
  min-width: 70vw;
  flex-wrap: wrap;

  &__title {
    text-align: center;
    color: $color-secondary;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__ul {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 25px;
    @include tablet {
      grid-template-columns: auto auto;
      gap: 30px;
    }
    @include desktop {
      grid-template-columns: auto auto auto;
      gap: 60px;
    }
  }
}

.characters__article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 320px;
  box-shadow: 12px 17px 51px $color-shadow;
  border: 2px solid $color-primary;
  border-radius: 8%;
  background-color: $color-background;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    border: 2px solid $color-shadow;
  }
  &:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  &--img {
    width: 150px;
    height: 200px;
    border-radius: 8%;
    object-fit: cover;
  }

  &--name {
    color: $color-letters;
    font-weight: 700;
  }

  &--status {
    color: $color-letters;
  }
}

.selected {
  background-color: $color-shadow;
  border: 2px solid $color-shadow;
  &:hover {
    border: 2px solid $color-primary;
  }
}
